<form (ngSubmit)="inventorySave()" [formGroup]="form$">
  <div mat-dialog-title class="flex justify-between">
    <h2 class="headline m-0 text-xl text-accent">
      <strong class="text-am-main-blue-dark">{{
        data.mode == "register" ? "Nuevo Inventario" : "Actualizar Inventario"
      }}</strong>
    </h2>
  </div>
  <mat-dialog-content>
    @if(data.mode == 'edit'){
      <mat-form-field appearance="outline" class="w-full pt-1">
        <mat-label>Codigo</mat-label>
        <input matInput formControlName="code" [disabled]="true"/>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full pt-1">
        <mat-label>Activo</mat-label>
        <input matInput formControlName="active" [disabled]="true"/>
      </mat-form-field>
    }
    <mat-form-field appearance="outline" class="w-full pt-1">
      <mat-label>Marca</mat-label>
      <input matInput formControlName="brand" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full pt-1">
      <mat-label>Numero de Serie</mat-label>
      <input matInput formControlName="series" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full pt-1">
      <mat-label>Modelo</mat-label>
      <input matInput formControlName="model" />
    </mat-form-field>
    <app-select-autocomplete
        label="Tipo de Equipo"
        [control]="equipmentTypeIdControl"
        [required]="true"
        [listOptions]="equipmentType"
      ></app-select-autocomplete>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Precio</mat-label>
      <input matInput formControlName="price" />
    </mat-form-field>
    <app-img-selector
      [urlCurrentImg]="this.form$.get('image')!.value"
      (selectedImage)="selectedImage($event)"
    ></app-img-selector>
    <br/>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Detalles</mat-label>
      <input matInput formControlName="details" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="state">
        <mat-option value="1">Activo</mat-option>
        <mat-option value="0">Inactivo</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>CANCELAR</button>
    <button
      color="purple"
      class="bg-accent text-accent-contrast"
      mat-button
      type="submit"
      [disabled]="form$.invalid"
    >
      GUARDAR
    </button>
  </mat-dialog-actions>
</form>